
@using Microsoft.Extensions.Configuration;

@inject HttpClient Http;
@inject IConfiguration Configuration;

<Modal @ref="modalRef">
    <ModalContent IsCentered="true">
        <ModalHeader>
            <ModalTitle>Conferma eliminazione</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <p>Sei sicuro di voler cancellare il personaggio?</p>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="(() => HideModal(false))">Annulla</Button>
            <Button Color="Color.Primary" Clicked="(() => HideModal(true))">Conferma</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    private Modal modalRef;

    [Parameter]
    public EventCallback<Guid> OnIsConfirmed { get; set; }

    public Guid CharacterId { get; set; }

    public void ShowModal(Guid characterId)
    {
        CharacterId = characterId;
        modalRef.Show();
    }

    public async Task HideModal(bool isConfirmed)
    {
        if (isConfirmed)
        {
            await Http.DeleteAsync(string.Concat(Configuration["AzureUrl"], $"api/character/remove/{CharacterId}"));
            await OnIsConfirmed.InvokeAsync(CharacterId);
        }
        modalRef.Hide();
    }

}